.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.pizzaCard_wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 0 50px;
}
.all_pizzas h1{
  font-weight: 700;
font-size: 32px;
line-height: 39px;
letter-spacing: 0.01em;
color: #000000;
margin-top: 50px;
}