.container{
  width: 90%;
  margin: 80px auto;
  /* height: 150vh; */
  background-color: #fff;
  border-radius: 10px;
}
.app-container{
  width: 90%;
  margin: 0 auto;
}
.button{
  background: #FE5F1E;
border: 1px solid #FE5F1E;
border-radius: 30px;
display: inline-block;
padding: 10px 15px;
min-width: 100px;
cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

}
.button, .button span{
  color: #fff;
}
.button:hover{
  background-color: #f24701;
}
.button:active{
  background-color: #de4101;
}
.button_outline{
  background-color: #fff;
  border-color: 
  #FE5F1E;
}
.button_outline, .button_outline span{
  color: #FE5F1E;
}
.button_outline:hover{
  background-color: #FE5F1E;
}
.button_outline:hover,
.button_outline:hover span{
  color: #fff;
}
.button_outline svg path{
  fill: #FE5F1E;
}
.button_outline:hover svg path{
  fill: #fff;
}
.button_outline:active{
  background-color: #f24701;
}
.button_add svg{
  margin-right: 3px;
}
.button_add span{
  font-weight: 600;
font-size: 16px;
}
.button_add:hover i{
  background-color: #fff;
  color: #FE5F1E;
}
.button_add i{
  display: inline-block;
  border-radius: 30px;
  background-color: #FE5F1E;
  color: #fff;
  font-weight: 600;
  width: 22px;
  height: 22px;
  font-size: 13px;
  line-height: 22px;
  font-style: normal;
}